Gemfile.lock
*.bundle
*.gem
tmp/
pkg/
ext/symengine/mkmf.log
ext/symengine/extconf.h
notebooks/.ipynb_checkpoints/
notebooks/Gemfile.lock
callgrind.out.*
*~

*.so
*.cmake
CMakeFiles/
CMakeCache.txt
Makefile
install_manifest.txt
