version: '{build}'

environment:

  matrix:
    - RUBY_VERSION: "21-x64"
      PLATFORM: "x64"
    - RUBY_VERSION: "21"
      PLATFORM: "Win32"
    - RUBY_VERSION: "22-x64"
      PLATFORM: "x64"
    - RUBY_VERSION: "22"
      PLATFORM: "Win32"
    - RUBY_VERSION: "200-x64"
      PLATFORM: "x64"
    - RUBY_VERSION: "200"
      PLATFORM: "Win32"

install:

  - SET PATH=C:\Ruby%RUBY_VERSION%\bin;%PATH%
  - if [%PLATFORM%] == [x64] set DEVKIT=C:\Ruby21-x64\DevKit
  - if [%PLATFORM%] == [Win32] set DEVKIT=C:\Ruby21\DevKit
  - "%DEVKIT%\\devkitvars.bat"
  - gem install bundler --no-rdoc --no-ri
  - bundler env
  - bundle install

  - if [%PLATFORM%] == [x64] appveyor DownloadFile "https://raw.githubusercontent.com/symengine/dependencies/31ed6b09d7cf3b609da236f48243fd9a01fa365c/gmp-6.0.0-x86_64-w64-mingw32-2.7z" -FileName gmp.7z
  - if [%PLATFORM%] == [Win32] appveyor DownloadFile " https://raw.githubusercontent.com/symengine/dependencies/e1e9dc3e7288ba06c96b452fb556b11ef6d5299f/gmp-6.0.0-i686-w64-mingw32.7z" -FileName gmp.7z
  - 7z x -oC:\gmp gmp.7z > NUL
  - set PATH=C:\gmp\bin\;%PATH%

  - git clone https://github.com/symengine/symengine symengine-cpp
  - cd symengine-cpp
  - git checkout 8537c67507fae9b1d8d575d322c6ade4f1a59297
  - cmake -G "MSYS Makefiles" -DGMP_DIR=C:\gmp -DBUILD_TESTS=no -DBUILD_BENCHMARKS=no .
  - make
  - make install
  - cd ..

build_script:
  # Build ruby gem
  - gem build symengine.gemspec
  # Install ruby gem
  - gem install symengine-0.1.0.gem --verbose
  
test_script:
  - gem install gem-path --no-ri --no-rdoc
  - gem path symengine > temp.txt
  - set /p RUBY_GEM_DIR=<temp.txt
  # Test ruby gem
  - cd %RUBY_GEM_DIR%
  - bundle exec rspec
  

# Enable this to be able to login to the build worker. You can use the
# `remmina` program in Ubuntu, use the login information that the line below
# prints into the log.
#on_finish:
#- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
